body{
  background-color: #666666;

}

#containerQuizz{
  margin: 100px 100px;
  background-color: #7BEBB3;
  opacity: 0.9;
}

.imageSize{
  margin-top: 25px;
  margin-left: 60px;
  width: 40%;
  height: 40%;
}

.progress-bar{
  width: 0%;
}

li{
  list-style: none; 
}

#containerQuizz{
  padding: 20px;
}

#bar{
  width: 1%;
  height: 30px;
  background-color: #85C585;
}

#myProgress {
  width: 100%;
  background-color: grey;
  margin-bottom: 20px;
}
